body {
    min-height: 2000px;

}


.jumbotron {
    padding-top: 3rem;
    background-color: #faebd7;
    padding-top: 7rem;
}

#about, 
#attachment,
#contact {
    padding-top: 75px;
    margin-top: -100px;
}

.row h3 {
    text-align: center;
}

.row p {
    text-align: justify;
}

#attachment {
    background-color: #faebd7;
}

footer {
    background-color: antiquewhite;
}

#attachment img {
    height: 300px;
}